html, body {
  /*height: 100%;*/
  box-sizing: border-box;
}

.header{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 30px;
}

.container {
  width: 620px;
  margin: 0 auto;
}

.item {
  display: inline-block;
  width: 290px;
  margin-left: 35px;
}

.item:first-child {
  margin-left: 0;
}

.beerjs {
  height: 430px;
  border-radius: 10px;
  background: #F4DE17;
  background-image: url('../images/beerjs.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 180px;
}

.info {
  text-align: center;
}

.footer {
  margin-top: 35px;
  text-align: center;
}

.org {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: #9B9B9B;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  line-height: 22px;
}

.orginfo {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  line-height: 22px;
}

.phone {
  display: inline-block;
}

.email {
  display: inline-block;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  line-height: 22px;
  border-bottom: 1px solid rgba(0,0,0,0.20);
  margin-left: 5px;
  transition: 0.2s;
}

.email:hover {
  border-bottom: 1px solid rgba(0,0,0,1);
}

.info p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  margin-top: 25px;
}

.link {
  margin-top: 15px;
}

.links a {
  margin-left: 20px;
}

.links a:first-child {
  margin-left: 0px;
}

.links img {
  vertical-align: text-top;
}

.vk {
  height: 13px;
}

.slack {
  height: 16px;
}

.youtube {
  height: 15px;
}


.frontendmeetup4 {
  height: 430px;
  border-radius: 10px;
  background: #202227;
  background-image: url('../images/frontendmeetup.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 180px;
}

@media only screen and (max-width: 620px) {
  .container {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }

  .info p {
    font-size: 24px;
  }

  .header {
    font-size: 24px;
  }

  .item {
    width: 100%;
    margin-bottom: 60px;
    margin-left: 0;
  }

  .beerjs {
    height: 330px;
  }

  .frontendmeetup4 {
    height: 330px;
  }

  .orginfo {
    margin-bottom: 20px;
  }

  .vk {
    height: 26px;
  }

  .slack {
    height: 26px;
  }

  .name {
    font-size: 20px;
    margin: 5px 0 15px 0;
  }

  .phone {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .email {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .youtube {
    height: 26px;
  }
}

@media (min-width: 1281px) {

  .header {
    margin-top: 90px;
  }

  .footer {
    margin-top: 90px;
  }

  .events {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
